#body {
    background-color: black;
}

img {
    height: 750px;
}

div {
    position: fixed;
    bottom: 0;
    right: 0%;
    background-color: aqua;
    width: 2000px;
    height: 20px;
    font-family: sans-serif;
}

canvas {
    border: 5px;
    border-color: black;
    box-shadow: 3px 3px 3px rgb(95, 89, 89)
}

#h1 {
    color: aquamarine;
}

#h3 {
    color: cadetblue;
}

#h4 {
    color: rgb(0, 214, 214);
}